
<div class="container mt-5" >
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
            <div class=" title" style="color: brown; text-align: center;">
             <h1> suceess</h1>
            </div>
            <div style="text-align: center;">
                <img src="
                /assets/img/success_logo.png" style="height: 200px; width: 200px;">
            </div>
           
            <div class="card bady">
                <h3 style="color: green; text-align: center;">Your Order placed successfuly</h3>
               
                <button (click)="gotohome()">OK</button> 
            </div>
        </div>
      </div>
    </div>
</div>
        
